<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="images/open-book.png" alt="Header icon" height="35" class="mx-3">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/take-note" class="nav-link px-2 text-white">New Note</a></li>
          <li><a href="/using" class="nav-link px-2 text-white">How to Use</a></li>
          <li><a href="http://portfolio-berkan.s3-website.eu-north-1.amazonaws.com/" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 d-flex" action="/search" method="GET">
            <input type="search" class="form-control form-control-dark" name="query" placeholder="Search...">
            <button type="submit" class="glow-on-hover custom-btn py-0" style="margin-top: 0; margin-bottom: 0;">Search</button>
        </form>
      </div>
    </div>
</header>