body {
    background: #D8D9DA;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: #272829;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #61677A;
    text-align: justify;
  }

.hr-style {
    border: dotted #272829 8px;
    border-bottom-width: 7px;
    border-bottom-style: dotted;
    border-bottom: none;
    width: 5%;
    margin: 60px auto;
}

#footer {
    position: absolute;
    bottom: 0;
}

.home-title {
    
}